* {
   
    /* border: 1px solid rgb(214, 87, 87); */
}

html, body {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 1fr;
    background-color: rgb(100, 160, 113);
    height: 1fr
}

.sidebar-links {
    display: grid;
}

ul {
    display: grid;
    list-style: none;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#search {
    background-color: #C0D1DA;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.main-left {
    display: grid;
    height: 700px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.main {
   display: grid;
   border: 1px solid;
   place-content: start;
}

.box {
    border: 1px solid;
}

.main-right {
    margin-top: -61.4px;
}

img {
    margin-left: 10px;
    width: auto;
    height: 50px;
    margin-top: 10px;
}

.trending-profile {
    display: grid;
    grid-template-columns: 1fr 4fr; 
    align-items: center;
    padding-bottom: 13px;
}

.text > p {
    margin-bottom: 5px;
    
}

.project-name {
   margin-top: -3px;
}