* {
   
    /* border: 1px solid rgb(214, 87, 87); */
}

html, body {
    margin: 0;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 1fr;
    background-color: rgb(100, 160, 113);
}

.sidebar-links {
    display: grid;
}

ul {
    display: grid;
    list-style: none;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#search {
    background-color: #C0D1DA;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.main-left {
    display: grid;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.main {
   display: grid;
   gap: 10px;
   border: 1px solid;
}

.box {
    border: 1px solid;
}

.main-right {
    margin-top: -61.4px;
}

img {
    margin-left: 10px;
    width: auto;
    height: 50px;
}

.trending-profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 4.9px;
    align-items: center;
}

p {
   
}