* {
   
    /* border: 1px solid rgb(214, 87, 87); */
}

html, body {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(226,232,240,255);
    overflow-x: hidden; 
  }

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 1fr;
    background-color: rgb(100, 160, 113);
    height: 105%;
}

.sidebar-links {
    display: grid;
}

ul {
    display: grid;
    list-style: none;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: white;
    padding: 21.1px;
    padding-left: 60px;
    box-shadow: 5px 5px 15px #888888;
}

#search {
    background-color: rgba(226,232,240,255);
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    background-color: rgba(226,232,240,255);
    margin-top: 50px;
}

.main-left {
    display: grid;
    height: 100%;
    /* grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-left: 20px;
    
}

.main {
   display: grid;
   place-content: start;
   background-color: white;
   padding: 20px;
   border-radius: 15px;
   box-shadow: 5px 5px 15px #888888;
}

.box {
    border-radius: 15px;
}

.main-right {
    margin-top: -61.4px;
    width: 18vw;
    
}

.trend-img {
    margin-left: 10px;
    width: auto;
    height: 50px;
    margin-top: 15px;
}

.trending-profile {
    display: grid;
    grid-template-columns: 1fr 4fr; 
    align-items: center;
    padding-bottom: 18.7px;
}

.text > p {
    margin-bottom: 3px;
    
}

.project-name {
   margin-top: -3px;
}

.ann {
    margin-top: -19px;
}

.announcement {
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 15px #888888;
    margin-bottom: 105px;
}

h5 {
    margin-bottom: 3px;
}

.trending {
    margin-top: 160px;
    background-color: white;
    box-shadow: 5px 5px 15px #888888;
}

#h4-trending {
    display: flex;
    margin-bottom: -140px;
}

#h4-projects {
    margin-top: 40px;
    margin-bottom: -30px;
    margin-left: 18px;
}

.left-image > img {
    height: 90px;
    width: auto;
    margin-top: -100px;
}


.left-image {
   margin-top: 122px;
}

.intro-name {
    margin-top: -115px;
    margin-left: 100px;
}

.intro-name > p {
    margin-bottom: -20px;
    margin-top: 36px;
}

input {
    border: none;
    height: 30px;
    width: 750px;
    border-radius: 30px;
    margin-left: 10px;
}

.search-img {
    height: 20px;
    margin-bottom: -6px;
    margin-left: 20px;
}

.searchbar {
    margin-top: 10px;
}

.right-image {
    height: 60px;
}

.ringbell {
    display: flex;
    margin-bottom: -45px;
    margin-left: -50px;
    height: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20px;
    align-self: flex-end;
    margin-bottom: 20px;
    margin-left: 70px;
}

button {
    margin-left: -80px;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 20px;
    background-color: rgba(25,146,212,255); 
    color: white; 
    font-weight: 900;
}

.admin-name {
    margin-left: 200px;
}

.greeting {
    margin-top: -30px;
}

.admin-rightside {
    margin-top: -40px;
    margin-left: 80px;
    font-size: 19px;
}

@media only screen and (max-width: 1618px) {
    .search-img {
        margin-left: -20px;
        margin-bottom: -30px;
    }
}

.interactions > ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.interactions > ul li {
    padding: 7px;
}